@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: whitesmoke;
}

.input__iconContainer {
  top: calc(50% - 10px);
}

.listItem__container {
  border-bottom-width: 1px;
  &:first-child {
    border-radius: 6px 6px 0 0;
  }
}

.noItemsOnList__button {
  svg {
    path {
      fill: transparent;
    }
  }
}
